{% extends 'core/base.html' %}
{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0"><i class="bi bi-layers me-2"></i>Materiales</h5>
        <a href="{% url 'material_add' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg me-2"></i>Nuevo Material
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materials %}
                    <tr>
                        <td>{{ material.name }}</td>
                        <td>{{ material.description|truncatechars:100 }}</td>
                        <td>
                            <a title="material" href="{% url 'material_edit' material.id %}" class="btn btn-sm btn-secondary">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No hay materiales registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}